.active_button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    border: solid 0.5px var(--borderColor-disabled);

    color: var(--white);

    font-size: 16px;
    font-weight: 700;

    cursor: pointer;

    svg {
        width: 20px;
        height: 20px;
    }

    &:disabled {
        color: var(--fgColor-disabled);
        background: var(--bgColor-disabled);
        cursor: default;
    }

    &.circle {
        padding: 10px 10px;

        border-radius: 20px;
    }

    &.round {
        padding: 10px 20px;

        border-radius: 10px;
    }

    &.default {
        color: var(--fgColor-default);
    }
}

.active_tab {
    display: flex;
    gap: 10px;

    .tab {
        padding: 10px 20px;

        display: flex;
        align-items: center;

        border-radius: 20px;
        border: solid .5px var(--borderColor-default);
        background: var(--bgColor-disabled);
        color: var(--fgColor-secondary);

        font-size: 16px;
        font-weight: 700;

        cursor: pointer;

        &.selected {
            background: var(--bgColor-default);
            color: var(--fgColor-default);
        }

        &.default {
            background: var(--bgColor-disabled);
            color: var(--fgColor-default);
        }
    }
}

.active_select {
    width: 100%;
    position: relative;

    .select_box {
        width: 100%;
        padding: 10px 20px;

        border-radius: 10px;
        background: var(--bgColor-disabled);
        border: solid 0.5px var(--borderColor-disabled);

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        text-align: start;

        cursor: pointer;

        .selected {
            width: calc(100% - 40px);
            color: var(--fgColor-default);
            font-size: 18px;
            font-weight: 500;
        }

        .placeholder {
            color: var(--fgColor-disabled);
        }

        .arrow_icon {
            width: 20px;
            height: 20px;

            transform: rotate(0);
            transition: transform 0.2s;

            &.select_on {
                transform: rotate(180deg);
            }
        }
    }

    .select_list_box {
        width: 100%;
        height: 160px;
        padding: 10px 0;

        border-radius: 10px;
        background: var(--bgColor-disabled);
        border: solid 0.5px var(--borderColor-disabled);

        position: absolute;

        display: flex;
        flex-direction: column;

        text-align: start;
        overflow-y: auto;

        visibility: hidden;

        .select {
            line-height: 40px;
            width: 100%;
            padding: 0 20px;

            background: transparent;
            color: var(--fgColor-default);
            font-size: 18px;
            font-weight: 500;

            cursor: pointer;
            transition: background 0.2s;

            &:hover {
                background: var(--bgColor-default);
            }
        }

        &.select_list_on {
            visibility: visible;
        }
    }

    &:has(.select_list_on) {
        .select_box {
            .placeholder {
                color: var(--fgColor-accent);
            }
        }
    }
}

.active_input {
    width: 100%;
    padding: 10px 20px;

    border-radius: 10px;
    background: var(--bgColor-disabled);
    border: solid 0.5px var(--borderColor-disabled);

    display: flex;
    align-items: center;
    justify-content: start;

    text-align: start;

    cursor: pointer;

    .input {
        width: 100%;
        height: 27px;
        line-height: 27px;

        color: var(--fgColor-default);
        background: transparent;
        font-size: 18px;
        font-weight: 500;
    }

    .input::placeholder {
        color: var(--fgColor-disabled);
    }

    .input:focus {
        color: var(--fgColor-accent);
    }

    .input:focus::placeholder {
        color: var(--fgColor-accent);
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        display: none;
    }
}

.active_switch {
    width: 100%;
    height: 100%;
    padding: 0 10px;

    display: flex;
    align-items: center;

    cursor: pointer;

    .title {
        width: calc(100% - 60px);

        font-size: 18px;
        font-weight: 500;
    }

    .switch_box {
        width: 60px;
        height: 30px;

        border-radius: 15px;
        background: var(--bgColor-disabled);
        border: solid 0.5px var(--borderColor-disabled);

        display: flex;
        align-items: center;

        transition: background 0.2s;

        .switch {
            width: 30px;
            height: 30px;

            border-radius: 15px;
            background: var(--bgColor-white);
            border: solid 0.5px var(--borderColor-disabled);

            transform: translateX(0);
            transition: transform 0.2s;
        }

        &.switch_on {
            background: var(--fgColor-success);

            .switch {
                transform: translateX(30px);
            }
        }

        &.switch_off {
            background: var(--bgColor-disabled);

            .switch {
                transform: translateX(0);
            }
        }
    }
}