.scroll_down {
    width: 34px;
    height: 55px;
    margin: auto;

    position: absolute;
    right: 0;
    bottom: 100px;
    left: 0;

    .mouse {
        width: 3px;
        height: 35px;
        padding: 10px 15px;

        border: 2px solid var(--fgColor-disabled);
        border-radius: 25px;
        
        opacity: 0.75;
        box-sizing: content-box;

        .scroller {
            width: 4px;
            height: 15px;

            border-radius: 25%;
            background-color: var(--fgColor-disabled);

            animation-name: scroll;
            animation-duration: 1.2s;
            animation-timing-function: cubic-bezier(.15, .41, .69, .94);
            animation-iteration-count: infinite;
        }
    }
}

@keyframes scroll {
    0% {
        opacity: 0;
    }

    10% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(15px);
        opacity: 0;
    }
}