.header {
    width: 100%;
    height: 90px;

    position: fixed;
    top: 0;
    z-index: 100;

    background: transparent;
    background: var(--bgColor-gradient-up);

    .header_main {
        width: 100%;
        height: 90px;
        padding: 0 40px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        .header_title {
            width: 80px;
            height: 80px;

            border-radius: 50%;

            display: flex;
            align-items: center;
            justify-content: center;

            background-color: transparent;

            transition: background 0.2s;
            cursor: pointer;

            .logo {
                width: 78px;
                height: 78px;
            }
        }

        .navi_section {
            display: flex;
            gap: 60px;

            .navi {
                padding: 5px 20px;
                font-size: 14px;
                font-weight: 700;

                border-radius: 10px;

                background-color: transparent;
                border: solid .5px transparent;

                transition: background 0.2s;
                cursor: pointer;

                &:hover {
                    background-color: var(--bgColor-opacity);
                    border: solid .5px var(--borderColor-disabled);
                }
            }

            .navi_select {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .header {
        .header_main {
            padding: 0 20px;

            .navi_section {
                .navi {
                    display: none;
                }

                .navi_select {
                    width: 200px;

                    display: block;

                    span {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}