@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');
}

:root[color-theme='light'] {
  --primary: #8250df;
  --default: #231f28;
  --secondary: #62596e;
  --success: #1a7f37;
  --info: #bf3989;
  --accent: #0969da;
  --warning: #bc4c00;
  --error: #d1242f;

  --fgColor-primary: #8250df;
  --fgColor-default: #231f28;
  --fgColor-reverse: #f6f0fc;
  --fgColor-secondary: #62596e;
  --fgColor-success: #1a7f37;
  --fgColor-info: #bf3989;
  --fgColor-accent: #0969da;
  --fgColor-warning: #bc4c00;
  --fgColor-error: #d1242f;
  --fgColor-disabled: #898198;

  --bgColor-default: #ffffff;
  --bgColor-disabled: #f8f6fa;
  --bgColor-opacity: #f8f6fa9a;
  --bgColor-gradient-up: linear-gradient(180deg, rgba(17, 13, 23, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
  --bgColor-gradient-down: linear-gradient(0deg, rgba(17, 13, 23, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
  --bgColor-gradient-slide: linear-gradient(90deg,rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.5) 10%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0.5) 90%, rgba(255, 255, 255, 1) 100%);

  --borderColor-default: #d8d1e0;
  --borderColor-disabled: #8981981a;

  --contribution-default-bgColor-0: #eff2f5;
  --contribution-default-bgColor-1: #aceebb;
  --contribution-default-bgColor-2: #4ac26b;
  --contribution-default-bgColor-3: #2da44e;
  --contribution-default-bgColor-4: #116329;
  --contribution-default-borderColor-0: #1f23280d;

  --contribution-violet-bgColor-0: #eff2f5;
  --contribution-violet-bgColor-1: #c9acee;
  --contribution-violet-bgColor-2: #804ac2;
  --contribution-violet-bgColor-3: #572da4;
  --contribution-violet-bgColor-4: #2b1163;
  --contribution-violet-borderColor-0: #241f280d;
}

:root[color-theme='dark'] {
  --primary: #ab7df8;
  --default: #f6f0fc;
  --secondary: #9891a1;
  --success: #3fb950;
  --info: #db61a2;
  --accent: #4493f8;
  --warning: #db6d28;
  --error: #f85149;

  --fgColor-primary: #ab7df8;
  --fgColor-default: #f6f0fc;
  --fgColor-reverse: #231f28;
  --fgColor-secondary: #9891a1;
  --fgColor-success: #3fb950;
  --fgColor-info: #db61a2;
  --fgColor-accent: #4493f8;
  --fgColor-warning: #db6d28;
  --fgColor-error: #f85149;
  --fgColor-disabled: #6b6576;

  --bgColor-default: #110d17;
  --bgColor-disabled: #272130;
  --bgColor-opacity: #2721309a;
  --bgColor-gradient-up: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
  --bgColor-gradient-down: linear-gradient(0deg, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
  --bgColor-gradient-slide: linear-gradient(90deg,rgba(17, 13, 23, 1) 0%, rgba(17, 13, 23, 0.5) 10%, rgba(17, 13, 23, 0) 20%, rgba(17, 13, 23, 0) 80%, rgba(17, 13, 23, 0.5) 90%, rgba(17, 13, 23, 1) 100%);

  --degreeDown: 180deg;
  --degreeUp: 0deg;

  --borderColor-default: #443d4d;
  --borderColor-disabled: #6b65761a;

  --contribution-default-bgColor-0: #151b23;
  --contribution-default-bgColor-1: #033a16;
  --contribution-default-bgColor-2: #196c2e;
  --contribution-default-bgColor-3: #2ea043;
  --contribution-default-bgColor-4: #56d364;
  --contribution-default-borderColor-0: #0104090d;

  --contribution-violet-bgColor-0: #151b23;
  --contribution-violet-bgColor-1: #16033a;
  --contribution-violet-bgColor-2: #35196c;
  --contribution-violet-bgColor-3: #522ea0;
  --contribution-violet-bgColor-4: #8c56d3;
  --contribution-violet-borderColor-0: #0401090d;
}

html,
body {
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body,
body>* {
  transition-property: background, color;
  transition-duration: 0.2s;
}

body {
  background: var(--bgColor-default);
  color: var(--fgColor-default);
  font-family: 'Noto Sans KR', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
textarea,
pre {
  font-family: 'Noto Sans KR', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
textarea {
  outline: none;
  border: none;
}

input::placeholder,
textarea::placeholder {
  color: var(--secondary);
  font-weight: 500;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* .inner_main {
  width: 1600px;
  margin: 0 auto;

  .inner_title {
    font-size: 20px;
    font-weight: 900;

    margin: 40px 0;
  }

  @media screen and (max-width: 1600px) {
    width: 100vw;
  }
} */

input,
textarea,
a,
span,
p {
  color: var(--fgColor-default);
}

.font-primary {
  color: var(--fgColor-primary);
}

.font-default {
  color: var(--fgColor-default);
}

.font-reverse {
  color: var(--fgColor-reverse);
}

.font-secondary {
  color: var(--fgColor-secondary);
}

.font-success {
  color: var(--fgColor-success);
}

.font-info {
  color: var(--fgColor-info);
}

.font-accent {
  color: var(--fgColor-accent);
}

.font-warning {
  color: var(--fgColor-warning);
}

.font-error {
  color: var(--fgColor-error);
}

.font-disabled {
  color: var(--fgColor-disabled);
}

.font-title {
  line-height: 40px;
  font-size: 28px;
  font-weight: 900;
}

.font-desc {
  line-height: 30px;
  font-size: 20px;
  font-weight: 700;
}

.color0 {
  background-color: var(--contribution-violet-bgColor-0);
}

.color1 {
  background-color: var(--contribution-violet-bgColor-1);
}

.color2 {
  background-color: var(--contribution-violet-bgColor-2);
}

.color3 {
  background-color: var(--contribution-violet-bgColor-3);
}

.color4 {
  background-color: var(--contribution-violet-bgColor-4);
}