.main {
    width: 100%;
    height: auto;
    margin-top: 40px;

    .main_section {
        .main_inner {
            padding: 40px 0;

            .card_section {
                padding: 40px 0;

                display: flex;
                flex-flow: wrap;
                justify-content: center;
                gap: 40px;

                .card {
                    width: 360px;
                    height: auto;
                    padding: 20px 10px;

                    border-radius: 30px;
                    background-image: radial-gradient(circle farthest-corner at 1.9% 5%, rgba(153, 64, 246, 1) 0%, rgba(248, 66, 228, 1) 90%);
                    color: #ededed;

                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    text-align: center;
                    /* text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.2), 2px 2px 4px rgba(255, 255, 255, 0.2); */

                    transition: transform 0.2s;
                    transform: scale(1);

                    .card_title {
                        font-size: 26px;
                        font-weight: 900;
                    }

                    .card_avatar {
                        width: 300px;
                        height: 300px;

                        filter: drop-shadow(2px 2px 5px #222);
                    }

                    .card_desc {
                        font-size: 18px;
                        font-weight: 700;
                    }

                    .card_hashtag {
                        font-size: 14px;
                        font-weight: 500;
                    }

                    &:hover {
                        transform: scale(1.02);
                    }

                    &:nth-child(2),
                    &:nth-child(3) {
                        background: var(--secondary);
                        color: var(--default);

                        .card_hashtag {
                            color: var(--description);
                        }
                    }
                }
            }
        }
    }

    .introduce_section {
        .introduce_inner {
            padding: 40px 0;

            .card_section {
                padding: 40px 0;

                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 40px;

                .card_main {
                    width: 840px;
                    height: 280px;

                    background: var(--secondary);
                    border-radius: 30px;

                    display: flex;

                    .card_top {
                        width: 400px;

                        background-image: radial-gradient(circle farthest-corner at 1.9% 5%, rgba(153, 64, 246, 1) 0%, rgba(248, 66, 228, 1) 90%);
                        border-radius: 30px 0 0 30px;

                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .card_title {
                            font-size: 60px;
                            font-weight: 900;
                            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

                            color: #ededed;
                        }
                    }

                    .card_bot {
                        width: 440px;
                        padding: 0 20px;

                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        gap: 20px;

                        .head {
                            font-size: 24px;
                            font-weight: 900;

                            color: var(--default);
                        }

                        .card_text {
                            font-size: 18px;
                            font-weight: 500;

                            color: var(--description);
                        }
                    }
                }

                .card_list {
                    display: flex;
                    flex-flow: wrap;
                    justify-content: center;
                    gap: 40px;

                    .card {
                        width: 400px;
                        height: 320px;

                        border-radius: 30px;
                        border: solid 1px rgba(255, 255, 255, 0.5);

                        background-image: url("../../assets/imgs/introduce_01.jpg");
                        background-position: center;
                        background-size: cover;

                        display: flex;
                        align-items: end;

                        .card_bot {
                            width: 400px;
                            height: 100px;
                            padding: 10px 20px;

                            border-radius: 0 0 30px 30px;
                            border-top: solid 1px rgba(255, 255, 255, 0.2);

                            background: rgba(138, 43, 226, 0.1);
                            backdrop-filter: blur(30px);

                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            .card_text {
                                width: 300px;
                                font-size: 16px;
                                font-weight: 500;

                                color: #ededed;
                            }

                            .card_icon {
                                width: 30px;
                                height: 30px;

                                color: #ededed;
                            }
                        }

                        &:nth-child(2) {
                            background-image: url("../../assets/imgs/introduce_02.jpg");
                        }

                        &:nth-child(3) {
                            background-image: url("../../assets/imgs/introduce_03.jpg");
                        }
                    }
                }
            }
        }
    }

    .tech_stack_section {
        .tech_stack_inner {
            padding: 40px 0;

            .stack_card {
                padding: 40px 0;

                display: flex;
                flex-flow: wrap;
                justify-content: center;
                gap: 10px;

                .card {
                    width: 100px;
                    height: 120px;
                    padding: 10px;

                    background: var(--secondary);
                    border-radius: 10px;

                    text-align: center;

                    transition: all 0.2s;

                    .card_img_back {
                        width: 80px;
                        height: 80px;

                        background: #fff;
                        border-radius: 10px;

                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .card_img {
                            width: 40px;
                            height: 40px;

                            transform: scale(1);
                            transition: transform 2s;
                        }
                    }

                    .card_name {
                        font-size: 12px;
                        font-weight: 500;
                    }

                    &:hover {
                        background: radial-gradient(circle farthest-corner at 1.9% 5%, rgba(153, 64, 246, 1) 0%, rgba(248, 66, 228, 1) 90%);
                        color: #ededed;

                        .card_img {
                            transform: scale(1.2);
                        }
                    }
                }
            }
        }
    }

    .career_section,
    .project_section,
    .award_section,
    .self_section {

        .career_inner,
        .project_inner,
        .award_inner,
        .self_inner {
            padding: 40px 0;

            .album_section {
                padding: 40px 0;

                display: flex;
                gap: 20px;

                .album {
                    width: 240px;
                    padding: 10px;

                    border-radius: 20px;

                    display: flex;
                    flex-direction: column;
                    gap: 2px;

                    transition: background 0.2s;
                    cursor: pointer;

                    position: relative;

                    .play_btn {
                        width: 60px;
                        height: 60px;

                        top: 90px;
                        left: 90px;

                        border-radius: 50%;
                        background: radial-gradient(circle farthest-corner at 1.9% 5%, rgba(153, 64, 246, 0.5) 0%, rgba(248, 66, 228, 0.5) 90%);
                        backdrop-filter: blur(5px);

                        display: flex;
                        align-items: center;
                        justify-content: center;

                        transition: all 0.2s;
                        transform: scale(1);

                        position: absolute;
                        opacity: 0;
                        visibility: hidden;

                        .play_icon {
                            width: 40px;
                            height: 40px;

                            color: #ededed;

                            transition: opacity 0.2s;
                            opacity: 0;
                        }

                        &:hover {
                            transform: scale(1.5);
                        }
                    }

                    .img {
                        width: 220px;
                        height: 220px;

                        border-radius: 20px;
                        border: solid 1px rgba(0, 0, 0, 0.1);
                    }

                    .album_info {
                        width: 220px;

                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .album_text {
                            width: 220px;

                            display: flex;
                            flex-direction: column;

                            .name {
                                width: 160px;

                                font-size: 16px;
                                font-weight: 500;
                                color: var(--default);

                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }

                            .owner {
                                width: 160px;

                                font-size: 16px;
                                font-weight: 500;
                                color: var(--description);

                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }

                        .icon {
                            width: 24px;
                            height: 24px;

                            border-radius: 50%;

                            transition: background 0.2s;

                            &:hover {
                                background: var(--description);
                            }
                        }
                    }

                    &:hover {
                        background: var(--secondary);

                        .play_btn {
                            opacity: 1;
                            visibility: visible;

                            .play_icon {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }

    .all_section {
        .all_inner {
            padding: 40px 0;

            .music_section {
                padding: 40px 0;

                .header_sort {
                    height: 40px;
                    padding: 0 20px;

                    display: grid;
                    align-items: center;
                    grid-template-columns: 680px 250px 250px;

                    .sort {
                        font-size: 16px;
                        font-weight: 700;
                        color: var(--default);
                    }
                }

                .music {
                    height: 80px;
                    padding: 0 20px;

                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 20px;

                    transition: background 0.2s;
                    cursor: pointer;

                    .music_info {
                        display: grid;
                        align-items: center;
                        grid-template-columns: 80px 600px 250px 250px;

                        position: relative;

                        .play_btn {
                            width: 30px;
                            height: 30px;

                            top: 15px;
                            left: 15px;

                            border-radius: 50%;
                            background: radial-gradient(circle farthest-corner at 1.9% 5%, rgba(153, 64, 246, 0.5) 0%, rgba(248, 66, 228, 0.5) 90%);
                            backdrop-filter: blur(5px);

                            display: flex;
                            align-items: center;
                            justify-content: center;

                            transition: all 0.2s;

                            position: absolute;
                            opacity: 0;
                            visibility: hidden;

                            .play_icon {
                                width: 20px;
                                height: 20px;

                                color: #ededed;

                                transition: opacity 0.2s;
                                opacity: 0;
                            }
                        }

                        .img {
                            width: 60px;
                            height: 60px;

                            border-radius: 10px;
                            border: solid 1px rgba(0, 0, 0, 0.1);
                        }

                        .name {
                            font-size: 16px;
                            font-weight: 500;
                            color: var(--default);
                        }

                        .owner {
                            font-size: 16px;
                            font-weight: 500;
                            color: var(--description);
                        }

                        .album {
                            font-size: 16px;
                            font-weight: 500;
                            color: var(--description);
                        }
                    }

                    .interation {
                        display: flex;
                        gap: 30px;

                        .icon {
                            width: 24px;
                            height: 24px;

                            color: var(--description);

                            &:hover {
                                color: var(--default);
                            }
                        }
                    }

                    &:hover {
                        background: var(--secondary);

                        .music_info {
                            .play_btn {
                                opacity: 1;
                                visibility: visible;

                                .play_icon {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}