.career_main {
    width: 33vw;
    height: 100vh;
    padding: 0 40px;
    margin: auto 0;

    background: transparent;

    display: flex;
    align-items: center;
    justify-content: center;

    .info_box {
        width: 100%;
        height: calc(100vh - 180px);
        padding: 20px;

        border-radius: 10px;
        background: var(--bgColor-opacity);
        backdrop-filter: blur(10px);
        border: solid 0.5px var(--borderColor-disabled);

        display: flex;
        flex-direction: column;

        .title {
            font-size: 24px;
            font-weight: 900;

            color: var(--fgColor-default);
        }

        .date {
            font-size: 14px;
            font-weight: 700;

            color: var(--fgColor-secondary);
        }

        .banner_box {
            width: 100%;
            height: 200px;
            margin: 20px 0;

            border-radius: 10px;
            border: solid 0.5px var(--borderColor-disabled);

            display: flex;
            align-items: center;
            justify-content: center;

            .icon_box {
                width: 60px;
                height: 60px;

                border-radius: 30px;
                border: solid 0.5px var(--borderColor-disabled);
                background-color: var(--bgColor-opacity);

                display: flex;
                align-items: center;
                justify-content: center;

                cursor: pointer;
                visibility: hidden;

                .icon {
                    width: 30px;
                    height: 30px;
                }
            }

            &:hover {
                .icon_box {
                    visibility: visible;
                }
            }

            &.background01 {
                background: url("../../../../assets/imgs/career01.jpg");
                background-repeat: repeat;
                background-size: cover;
                background-position: center;
            }

            &.background02,
            &.background03,
            &.background04 {
                background: url("../../../../assets/imgs/career02.png");
                background-repeat: repeat;
                background-size: cover;
                background-position: center;
            }
        }

        .desc_box {
            width: 100%;
            height: calc(100% - 296px);
            padding: 0 10px;

            display: flex;
            flex-direction: column;

            overflow-y: auto;

            .name {
                font-size: 16px;
                font-weight: 700;

                color: var(--fgColor-info);
            }

            .desc {
                margin-bottom: 20px;
                font-size: 16px;
                font-weight: 500;

                color: var(--fgColor-default);

                .dot {
                    width: 10px;
                    height: 10px;

                    color: var(--fgColor-secondary);
                }
            }
        }
    }
}

@media screen and (max-width: 1600px) {
    .career_main {
        width: 50vw;
        height: 100vh;
        padding: 0 40px;
        margin: auto 0;

        .info_box {
            width: 100%;
            height: calc(100vh - 180px);
            padding: 20px;

            .banner_box {
                width: 100%;
                height: 200px;
                margin: 20px 0;
            }

            .desc_box {
                height: calc(100% - 296px);
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .career_main {
        width: 100vw;
        height: 100vh;
        padding: 0 20px;
        margin: auto 0;

        .info_box {
            width: 100%;
            height: calc(100vh - 180px);
            padding: 20px;

            .banner_box {
                width: 100%;
                height: 200px;
                margin: 20px 0;
            }

            .desc_box {
                height: calc(100% - 296px);
            }
        }
    }
}